/* src/Progress/Progress.css */
.progress-bar-container {
  width: 100%;
  background-color: gainsboro;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-bar {
  height: 30px;
  background-color: green; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
}

.progress-bar-text {
  color: white;
  font-weight: bold;
}
