/* src/Typewriter.css */
.typewriter {
    font-family: 'Courier Prime', monospace;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

/* src/Header.css */
.header {
    text-align: center;
    margin-top: 2rem;
  }
  
  .header h1 {
    font-size: 2.5rem;
  }
  
  .header p {
    font-size: 1.2rem;
  }
  